@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;600;900&display=swap");

* {
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	-webkit-user-drag: none;
	font-family: "Jost", sans-serif;
}

body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: #252525;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	cursor: url("https://cdn-icons-png.flaticon.com/24/4610/4610128.png") 4 12,
		auto;
	font-family: "Jost", sans-serif;
	
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
}
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f0f, #e91e63);
    clip-path: circle(20% at left 20%);
}
.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	flex-wrap: wrap;
	z-index: 10;
}

.container .card {
	position: relative;
	width: 280px;
	height: 400px;
	margin: 30px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
}

.container .card .content {
	padding: 16px;
	text-align: center;
	transform: translateY(100px);
	opacity: 0;
	transition: 0.5s;
	
}
.container .card .content h2 {
    position: absolute;
    top: -80px;
    right: 10px;
    font-size: 9em;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.08);
    pointer-events: none;
}
.container .card .content h3 {
    font-size: 1.8em;
    color: #fff;
    font-weight: bold;
    z-index: 1;
}
.container .card .content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
 a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 600;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.container .card:hover .content {
	cursor: pointer;
	transform: translateY(0px);
	opacity: 1;
}
