.registations{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}
.registation-left{
    width: 50%;
        display: flex;
            align-items: center;
            justify-content: center;
}

.registation-right{
    width: 50%;
        display: flex;
            align-items: center;
            justify-content: center;
}