@font-face {
    font-family: myFirstFont;
    src: url(impact.ttf);
  }

.registations{
         
display: flex;
flex-direction: column;
    width: 100%;
    background-repeat: no-repeat;
    background-color: #000;
    align-items: center;
    justify-content: flex-start;
}.registations img{
   position:fixed;
    width: 90vw;
filter: blur(2px);
    background-repeat: no-repeat;
}

.regtop h2{
    font-family: myFirstFont;
    color: white;
    font-size: 50px;
    font-weight: 300;

}.regtop  span{
    background: linear-gradient(90deg ,#CF0211,#680204);
    padding: 5px;
    margin: 0;
    border-radius: 5px;
    color: #141414;
}


.regtop {
height: 10vh;
display: flex;
justify-content: center;
z-index: 1;
margin-top: 50px;
}
.intera{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.info-reg{
z-index: 1;
color: #fff;
display: flex;
justify-content: flex-end;
height: 15vh;
flex-direction: column;
align-items: center;
font-family: myFirstFont;
}
.info11{
width: 35%;
}
.info11 h2{
    font-weight: 100;
color: #9E020B !important;

}
.info22 h2{
    font-weight: 100;
color: #9E020B  !important;
}
.info22{
width: 35%;
}


.register-now {
    z-index: 1;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.register-now button{
width: 200px;
height: 50px;
border-radius: 5px;
font-size: 22px;
font-family: myFirstFont;
font-weight: 100;
cursor: pointer;
color: #fff  !important;
border: none;
background: linear-gradient(90deg ,#CF0211,#680204);
}
@media screen and (max-width: 480px) {
    .intera{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
font-size: 15px;
    }
    .regtop {
        height: 15vh;
        display: flex;
        justify-content: center;
        z-index: 1;
        margin-top: 120px;
        }
        .info11{
width: 75%;
        }
        .info22{
            width: 75%;
        }
        .info-reg{
            height: 320px;
        }
        .regtop h2{
            font-size: 30px;
        }
        .registations{
            height: 1656px;
        }
    
        .register-now {
            height: 130px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            width: 200px;
        }
}