
.cont {
    display: flex;
    justify-content:space-evenly;
   background-color: #000;
}

.mt-5{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    font-weight: 500;
    font-style:normal;
}

.sect, .sect li a{
  color: white;
  text-decoration: none;
   
}



#dmdm {
    position: relative;
    height: 100vh;
  }
  
  #dmdm .dmdm {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .dmdm {
    max-width: 920px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .dmdm .dmdm-404 {
    position: absolute;
    height: 100px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1;
  }
  
  .dmdm .dmdm-404 h1 {
    font-family: "Maven Pro", sans-serif;
    color: #ececec;
    font-weight: 900;
    font-size: 276px;
    margin: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .dmdm h2 {
    font-family: "Maven Pro", sans-serif;
    font-size: 46px;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0px;
  }
  
  .dmdm p {
    font-size: 16px;
    color:white;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 15px;
  }
  
  .dmdm a {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #189cf0;
    display: inline-block;
    padding: 16px 38px;
    border: 2px solid transparent;
    border-radius: 40px;
    color: #fff;
    font-weight: 400;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .dmdm a:hover {
    background-color: #fff;
    border-color: #189cf0;
    color: white;
  }
  
  @media only screen and (max-width: 992px) {
    .cont {
      display: flex;
      justify-content:space-evenly;
     background-color: #000;
  }
  
  .mt-5{
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: content-box;
      font-weight: 500;
      font-style:normal;
  }
  
  .sect, .sect li a{
    color: white;
    text-decoration: none;
     
  }
  
  
  
  #dmdm {
      position: relative;
      height: 100vh;
    }
    
    #dmdm .dmdm {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    
    .dmdm {
      max-width: 920px;
      width: 100%;
      line-height: 1.4;
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;
    }
    
    .dmdm .dmdm-404 {
      position: absolute;
      height: 100px;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: -1;
    }
    
    .dmdm .dmdm-404 h1 {
      font-family: "Maven Pro", sans-serif;
      color: #ececec;
      font-weight: 900;
      font-size: 276px;
      margin: 0px;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    
    .dmdm h2 {
      font-family: "Maven Pro", sans-serif;
      font-size: 46px;
      color: white;
      font-weight: 900;
      text-transform: uppercase;
      margin: 0px;
    }
    
    .dmdm p {
      font-size: 16px;
      color:white;
      font-weight: 400;
      text-transform: uppercase;
      margin-top: 15px;
    }
    
    .dmdm a {
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
      background: #189cf0;
      display: inline-block;
      padding: 16px 38px;
      border: 2px solid transparent;
      border-radius: 40px;
      color: #fff;
      font-weight: 400;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
    }
    
    .dmdm a:hover {
      background-color: #fff;
      border-color: #189cf0;
      color: white;
    }
  }
  
