.container2{
  width: 93%;
  display: flex;
  height: 60vh;
color: #fff;
}
.Rnxg{
  width: 26%;
  display: flex;
flex-direction: column;
align-items: center;
}.Rnxg span{
  margin: 10px 0px 0px 45px;
  line-height: 150px;
}
.Rnxg h1{
margin: 0 170px 0 0;
background-image: linear-gradient(60deg, #E21143, #FFB03A);
background-clip: text;
color: transparent;
}.Rnxg p{
width: 70%;
}
.club{
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}.club li{
 list-style: none;
 line-height: 40px;
}
.club h1 {
  font-weight: 400;
  margin: 0 35px 0 0px;
}
.other-links h1 {
  font-weight: 400;

  margin: 0 35px 0 0px;
}
.other-links{
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}.other-links li{
  list-style: none;
  line-height: 40px;
  margin: 0 0px 0 0px;
}.other-links ul{
  margin: 10px 0px 0 -150px;
 
  
}.other-links li{
  list-style: none;
  line-height: 40px;
  
}
.contact-us{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 27%;
  line-height: 40px;
}.contact-us h1{
  font-weight: 400;

  margin: 0 190px 0 0;
}.contact-us p{
  margin: 0px 0 0 -225px;
  background-image: linear-gradient(60deg, #E21143, #FFB03A);
  background-clip: text;
  color: transparent;
  font-weight: 600;
}
.icons{

  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: 12px 0 0 -130px;
}
.icons button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25262A;
}
.go-top button {
  width: 40px;
  position: absolute;
  height: 40px;
  background-color: #5D76FF;
  border: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}.go-top {

  height: 40px;
  top: 98px;
  width: 40px;

}