.home-box{
    width: 100%;
 
display: flex; 
 flex-direction: column;
scroll-behavior: smooth;
align-items: center;
}
.E1{
    background-color: transparent;
    z-index: 100;
    position: absolute;
    width: 100%;
   
}
.E3{
    width: 97%;
}
.E4{
    width: 100%;
    
}
@media screen and (max-width: 480px) {

    .E3{
        width: 100%;
    }

  }