
.outer-main-box{
    position: relative;
}
.main-box-nav{
    background-color: white;
    height: 40px;
    margin: 0;
    width: 100%;
}
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
}
.main-box-nav li a{
    color: black;
    text-decoration: none;
}
.nav-contents{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    line-height: 40px;
}
.main-box-nav-ele:hover, 
.main-box-nav-ele:active{
    font-weight: bold;
    cursor: pointer;
}
.main-box-body{
 
    top: 40px;
    display: flex;
    flex-direction: column;
    background-color: #040D21;
    color: white;
    border-radius: 25px;
    padding: 10px;
    align-items: center;
    z-index: 1;
}
.main-box-body-ele{
    width: 50%;
}
.main-box-body-ele h3{
    margin: 20px 0;
    font-size: 30px;
    margin-top: 40px;
}
.main-box-body-ele img{
    width: 100%;
}
