

.Navbar-wrapper{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 10vh;
    position: absolute;
    background-color: aqua;
    font-size: 40px;
    font-weight: 900;
    color: azure;
}