.profiles-main{
  display: flex;
  flex-direction: column;
  width: 100%; 
  background-color: #040D21;
  align-items: center;
}
.profile-top{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
 color: white;
 font-family: Roboto;
 
}
.profile-top img{
width: 100%;
}
.profile-top h1 {
  font-size: 50px;
  background: -webkit-linear-gradient(-70deg, #ff7170 0%, #ffe57f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}
.profile-top p{
line-height: 25px;
  width: 95%;
  color: #8193b2;
}
.profile-between{
  width: 75%;
  display: flex;
  flex-direction: column;
  color: white;
  height: 100vh;
  justify-content: space-around;
  
}.profile-between h1{
  background: -webkit-linear-gradient(-70deg, #3bf0e4 0%, #bca1f7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
font-family: Roboto;
margin: 60px 432px 0px 0;


}
.our-mission{
width: 700px;
height: 263px;
background-color: #24201E;
border-radius: 30px;
display:flex ;
flex-direction: column;
justify-content: flex-start;
align-items: center;
align-self: flex-end;
}
.profile-between p {
  font-size: 20px;
  width: 600px;
  color: #8193b2;
}
.our-vision{
  width: 700px;
  height: 263px;
  background-color: #24201E;
  border-radius: 30px;
  display:flex ;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.profile-down{
  color: white;
  display: flex;
  /* align-items: center; */
  /* top: 0;  */
  width: 100%;
  background-color: #1b1b1b;
  justify-content: space-evenly;
}
.linkdin{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  
}

.linkdin button{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  background-color: #6CA2BB;
  z-index: 1;
  margin: 170px 0 0 0;
}

.tiltee{
  width: 20%;
  position: sticky;
  height: 100vh;
  display: flex;
  align-items: center;
  top: 0;
}

.gallery-of-team{
display: flex;
  flex-direction: row;
  padding: 10px;
 justify-self: flex-start;
flex-wrap: wrap;
width: 50%;
position: relative;

}
.profile-down h1 span{
  background: -webkit-linear-gradient(-70deg, #ff7170 0%, #ffe57f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}
.profile-card{
  width: 240px;
  height: 297px;
  display: flex;
  flex-direction: column;
  background-color: #24201E;
  color: white;
  align-items: center;
  margin: 0 13px 13px 0px;
  cursor: pointer;
}
.profile-card img{
  object-fit: cover;
  width: 240px;
  filter: grayscale(100%);

}
@media screen and (max-width: 480px) {

.profile-between{
  display: flex;
  flex-direction: column;
height: 70vh;
}
.our-mission{
  width: 370px;
  display: flex;
  align-self: center;
justify-self: center;
justify-content: center;
}
.our-vision{
  width: 370px;
display: flex;
justify-self: center;
align-self: center;
justify-content: center;

}
.our-vision p {
  width: 90%;
}.our-vision h1 {
  margin: 0 0 0 0;
}
.our-mission p{
  width: 90%;
}
.our-mission h1 {
  margin: 0 0 0 0;
}
.gallery-of-team{
  padding: 0;
  margin: 0 0 0 50px;
}
.profile-down{
  justify-content: space-around;
 width: 100%;
 -webkit-tap-highlight-color: transparent;

}
.profile-card img{
  width: 200px;
}
.profile-card{
  -webkit-tap-highlight-color: transparent;


  width: 230px;
  height: 260px;
}
.linkdin button {
  margin: 130px 0 0 0;-webkit-tap-highlight-color: transparent;
}
.profile-top{
  height: 85vh;
}
.profile-top img {
 display: none;
}
}