.topbox{
    display: flex;
    /* position: absolute; */
    width: 100%;
    background-color: #fff;
    justify-content: flex-start;
    flex-direction: column;
    flex-direction: column;


}
.Topbox-wrapper{
    width: 100%;
    height: 110vh;
    background-color: #040D21;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.background-glow {
    width: 100%;
    height: 110vh;
    /* overflow: hidden; */
position: absolute;

  }
.background-glow img{
  position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
   z-index: 1;
   
}.background-glow video{
    z-index: 1;
    width: 100%;
    opacity: 0.5;

    transition: 5ms;
    position: absolute;
    object-fit: cover;
    height: 100%;
}
.bottom-curve{
    background-color: transparent;
    height: 15vh;
    width: 100%;
    bottom: 0;
    z-index: 1;
    position: absolute;
}

.topbox-content{
    position: relative;
    top: -20%;
    width: 80%;
    color: #fff;
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    z-index: 10;
}.topbox-content p{
font-size: 76px;
font-family: 'Roboto', sans-serif;
font-weight: bold;

}.topbox-content h4{
font-size: 20px;
color: #8193b2;
font-weight: 400;

}
.t-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
height: 90%;}
    .t-right{
    width: 50%;
}
.t-main-title{
    height: 50%;
}
/* cursor */
.text-change > .txt {
    border-right: 0.2rem solid #777;
    animation:  blink 575ms infinite;
    }
    @keyframes blink {
        to{
            border-right:0.2rem solid transparent;
        }
    }
.mainbutton a{
    color: #fff;
}
    .mainbutton button {
        
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 10px;
        font-size: large;
        letter-spacing: 1px;
         background: #020117;
        color: #fff;
        font-weight: 600;

        font-family: 'Roboto', sans-serif;
        position: relative;
        letter-spacing: 5px;
        background: #040D21;
        cursor: pointer;
        /* filter: blur(0.6px); */
    }
.mainbutton button:hover{
       text-decoration:underline;
      
}.mainbutton button svg{
    width: 24px;
    top: 2px;
    left: 5px;
    position: relative;
      
}
      .mainbutton button::after {
        content: '';
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        background: linear-gradient(45deg, #ff5520, #750cf2, #0cbcf2);
        z-index: -1;
        border-radius: 10px;
        opacity: 0.7;
        filter: blur(4px);      }
      .mainbutton button::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
        z-index: -2;
        filter: blur(40px);
      }
      @media screen and (max-width: 1440px) {
.bottom-curve{
    height: 17vh;
}


      }     
       @media screen and (max-width: 1024px) {
.topbox-content p{
    font-size: 55px;
    margin: 115px 0 0 0;
}


      }
      @media screen and (max-width: 768px) {

        .topbox-content p {
            font-size: 40px;
            margin: 150px 0 0 0;
        }
         .topbox-content h4{
             font-size: 16px;
             
         } 
        
      }
      @media screen and (max-width: 480px) {
        .topbox-content p{
            font-size: 40px;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            width: 100%;
            margin: 35px 0 0 0;
            }
            .t-left{
                width: 100%;
            }
            .topbox-content h4{
                font-size: 17px;
                color: #8193b2;
                font-weight: 400;
                
                }
                .t-right{
                    width: 0%;
                }
                .t-main-title{
                    height: 5%;
                }
                .mainbutton button {
                    top: -90px;
                }
                .background-glow img {
                    position: relative;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    transform: translate(-50%, -50%);
                    z-index: 1;

                }
                .bottom-curve{
                    height: 40px;
                }

      }